.donate-main{
    padding: 25px;
    color:whtie;
    background-color: white;
    border:1px solid #ddd
} 
.donate-main h1{    
    color:whtie;
 } 
.donate-main_middle{
    padding: 25px;
    color:whtie;
    background-color: #007bff;
} 